.AliceBlue {
 color: AliceBlue; 
}  

.AntiqueWhite {
 color: AntiqueWhite;
}

.Aqua {
 color: Aqua;
}

.Aquamarine {
 color: Aquamarine;
}

.Azure {
 color: Azure;
}

.Beige {
 color: Beige;
}

.Bisque {
 color: Bisque;
}

.Black {
 color: Black;
}

.BlanchedAlmond {
 color: BlanchedAlmond;
}

.Blue {
 color: Aqua;
}

.BlueViolet {
 color: BlueViolet;
}

.Brown {
 color: Brown;
}

.BurlyWood {
 color: BurlyWood;
}

.CadetBlue {
 color: CadetBlue;
}

.Chartreuse {
 color: Chartreuse;
}

.Chocolate {
 color: Chocolate;
}

.Coral {
  color: Coral;
}

.CornflowerBlue {
 color: CornflowerBlue;
}

.Cyan {
 color: Cyan;
}

.DarkBlue {
 color: DarkBlue;
}

.DarkCyan {
 color: DarkCyan;
}

.DarkGoldenRod {
 color: DarkGoldenRod;
}

.DarkGray {
 color: DarkGray;
}

.DarkGrey {
 color: DarkGrey;
}

.DarkGreen {
 color: DarkGreen;
}

.DarkKhaki {
 color: DarkKhaki;
}

.DarkMagenta {
 color: DarkMagenta;
}

.DarkOliveGreen {
 color: DarkOliveGreen;
}

.DarkOrange {
 color: DarkOrange;
}

.DarkOrchid {
 color: DarkOrchid;
}

.DarkRed {
 color: DarkRed;
}

.DarkSalmon {
 color: DarkSalmon;
}

.DarkSeaGreen {
 color: DarkSeaGreen;
}

.DarkSlateBlue {
 color: DarkSlateBlue;
}

.DarkSlateGray {
 color: DarkSlateGray;
}

.DarkSlateGrey {
 color: DarkSlateGrey;
}

.DarkTurquoise {
 color: DarkTurquoise;
}

.DarkViolet {
 color: DarkViolet;
}

.DeepPink {
 color: DeepPink;
}

.DeepSkyBlue {
 color: DeepSkyBlue;
}






 
