.AliceBlue {
 color: AliceBlue; 
}  

.AntiqueWhite {
 color: AntiqueWhite;
}

.Aqua {
 color: Aqua;
}

.Aquamarine {
 color: Aquamarine;
}

.Azure {
 color: Azure;
}

.Beige {
 color: Beige;
}

.Bisque {
 color: Bisque;
}

.Black {
 color: Black;
}

.BlanchedAlmond {
 color: BlanchedAlmond;
}

.Blue {
 color: Blue;
}

.BlueViolet {
 color: BlueViolet;
}

.Brown {
 color: Brown;
}

.BurlyWood {
 color: BurlyWood;
}

.CadetBlue {
 color: CadetBlue;
}

.Chartreuse {
 color: Chartreuse;
}

.Chocolate {
 color: Chocolate;
}

.Coral {
  color: Coral;
}

.CornflowerBlue {
 color: CornflowerBlue;
}

.Cyan {
 color: Cyan;
}

.DarkBlue {
 color: DarkBlue;
}

.DarkCyan {
 color: DarkCyan;
}

.DarkGoldenRod {
 color: DarkGoldenRod;
}

.DarkGray {
 color: DarkGray;
}

.DarkGrey {
 color: DarkGrey;
}

.DarkGreen {
 color: DarkGreen;
}

.DarkKhaki {
 color: DarkKhaki;
}

.DarkMagenta {
 color: DarkMagenta;
}

.DarkOliveGreen {
 color: DarkOliveGreen;
}

.DarkOrange {
 color: DarkOrange;
}

.DarkOrchid {
 color: DarkOrchid;
}

.DarkRed {
 color: DarkRed;
}

.DarkSalmon {
 color: DarkSalmon;
}

.DarkSeaGreen {
 color: DarkSeaGreen;
}

.DarkSlateBlue {
 color: DarkSlateBlue;
}

.DarkSlateGray {
 color: DarkSlateGray;
}

.DarkSlateGrey {
 color: DarkSlateGray;
}

.DarkTurquoise {
 color: DarkTurquoise;
}

.DarkViolet {
 color: DarkViolet;
}

.DeepPink {
 color: DeepPink;
}

.DeepSkyBlue {
 color: DeepSkyBlue;
}

.DimGray {
 color: DimGray;
}

.DimGrey {
 color: DimGray;
}

.DodgerBlue {
 color: DodgerBlue;
}

.FireBrick {
 color: FireBrick;
}

.FloralWhite {
 color: FloralWhite;
}

.ForestGreen {
 color: ForestGreen;
}

.Fuchsia {
 color: Fuchsia;
}

.Gainsboro {
 color: Gainsboro;
}

.GhostWhite {
 color: GhostWhite;
}

.Gold {
 color: Gold;
}

.GoldenRod {
 color: GoldenRod;
}

.Gray {
 color: Gray;
}

.Grey {
 color: Grey;
}

.Green {
 color: Green;
}

.GreenYellow {
 color: GreenYellow;
}

.HoneyDew {
 color: HoneyDew;
}

.HotPink {
 color: HotPink;
}

.IndianRed {
 color: IndianRed;
}

.Indigo {
 color: Indigo;
}

.Ivory {
 color: Ivory;
}

.Khaki {
 color: Khaki;
}

.Lavender {
 color: Lavender;
}

.LavenderBlush {
 color: LavenderBlush;
}

.LawnGreen {
 color: LawnGreen;
}

.LemonChiffon {
 color: LemonChiffon;
}

.LightBlue {
 color: LightBlue;
}

.LightCoral {
 color: LightCoral;
}

.LightCyan {
 color: LightCyan;
}

.LightGoldenRodYellow {
 color: LightGoldenRodYellow;
}

.LightGray {
 color: LightGray;
}

.LightGrey {
 color: LightGray;
}

.LightGreen {
 color: LightGreen;
}

.LightPink {
 color: LightPink;
}

.LightSalmon {
 color: LightSalmon;
}

.LightSeaGreen {
 color: LightSeaGreen;
}

.LightSkyBlue {
 color: LightSkyBlue;
}

.LightSlateGray {
 color: LightSlateGray;
}

.LightSlateGrey {
 color: LightSlateGray;
}

.LightSteelBlue {
 color: LightSteelBlue;
}

.LightYellow {
 color: LightYellow;
}

.Lime {
 color: Lime;
}

.LimeGreen {
 color: LimeGreen;
}

.Linen {
 color: Linen;
}

.Magenta {
 color: Magenta;
}
